* {
  box-sizing: border-box;
}

body {
  cursor: url(./cursor.png), default;
  background-color: #c0c86d;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  margin: 0;
  height: 100vh;
    width: 100vw;
    padding: 0;
}

.bg {
  background-image: url(./background.png);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px; 
  padding-top: 100px;
  position: relative;
  margin: 0 auto;
}


.hole-container {
  width: 20%; 
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  display: flex;
}


.hole {
  position: relative;
  width: 170px; 
  height: 170px;
  background: black;
  border-radius: 50%;
  overflow: visible; 
}

.mole {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  right: 30px;
  top: 0;
  bottom: 0; 
}
.gone {
  display: none;
}
.worm{
  width: 1200px;
}
.worm-container {
 overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.worm-box{
  width: 1200px;
}

.hungry {
  cursor: url(./cursor-worm.png), pointer;
}

.win {
  max-width: 100vw;
  max-height: 100vh;
  display: absolute;
}

.hide {
  display: none;
}

.show {
  display: block;
}